LOCATE COMP "clk" SITE "A10";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;

LOCATE COMP "btn" SITE "P4";
IOBUF PORT "btn" IO_TYPE=LVCMOS33;

LOCATE COMP "led[0]" SITE "A13";
LOCATE COMP "led[1]" SITE "A12";
LOCATE COMP "led[2]" SITE "B19";
LOCATE COMP "led[3]" SITE "A18";
LOCATE COMP "led[4]" SITE "B18";
LOCATE COMP "led[5]" SITE "C17";
LOCATE COMP "led[6]" SITE "A17";
LOCATE COMP "led[7]" SITE "B17";
LOCATE COMP "RASP_IO02" SITE "T17";
LOCATE COMP "RASP_IO03" SITE "U16";
LOCATE COMP "RASP_IO04" SITE "U17";
LOCATE COMP "RASP_IO14" SITE "P18";
LOCATE COMP "RASP_IO15" SITE "N20";
LOCATE COMP "RASP_IO17" SITE "N19";
LOCATE COMP "RASP_IO18" SITE "T16";
LOCATE COMP "RASP_IO27" SITE "M18";
LOCATE COMP "RASP_IO22" SITE "N17";
LOCATE COMP "RASP_IO23" SITE "P17";

IOBUF PORT "led[0]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[1]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[2]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[3]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[4]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[5]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[6]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[7]" IO_TYPE=LVCMOS25;
IOBUF PORT "RASP_IO02" IO_TYPE=LVCMOS33;
IOBUF PORT "RASP_IO03" IO_TYPE=LVCMOS33;
IOBUF PORT "RASP_IO04" IO_TYPE=LVCMOS33;
IOBUF PORT "RASP_IO14" IO_TYPE=LVCMOS33;
IOBUF PORT "RASP_IO15" IO_TYPE=LVCMOS33;
IOBUF PORT "RASP_IO17" IO_TYPE=LVCMOS33;
IOBUF PORT "RASP_IO18" IO_TYPE=LVCMOS33;
IOBUF PORT "RASP_IO27" IO_TYPE=LVCMOS33;
IOBUF PORT "RASP_IO22" IO_TYPE=LVCMOS33;
IOBUF PORT "RASP_IO23" IO_TYPE=LVCMOS33;
